$main-background: #A5AEBC;
$modal-background: #F5F5F5;
$dark-blue: #232B38;
$icons-color-dark: #00112C;
$fields-background: #DDE4FF;
$h2-color: #1E3356;
$save-button: #1E3356;
$default-img-background: #DDE9FF;
$select-background: #F4F5F7;
$color-scroll-ball: #d3d4d6;
$color-scroll-slider: #9fa6ae;
