@import "color-variables";

@mixin flex($justify,$align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin container($background-color,$icon-size) {
  width: 170px;
  height: 50px;
  @include flex(left, center);
  padding: 0 12px;
  background-color: $background-color;
  box-shadow: -4px 5px 20px rgba(180, 177, 177, 0.2);
  border-radius: 10px;

  input {
    width: 130px;
    background-color: $background-color;
  }

  i {
    font-size: $icon-size;
    color: $dark-blue;
  }
  p {
    margin-left: 6px;
    font-size: 16px;
  }
}

@mixin clickable-icon($color,$font-size) {
  font-size: $font-size;
  color: $color;
  &:hover {
    color: lighten($color, 30%);
    cursor: pointer;
  }
}
