<div class="wrap">
  <div class="container">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <i class="icon-close"></i>

      <div class="log-name">
        <input *ngIf="showInputs.shLogName" type="text" formControlName="logName">
        <p *ngIf="!showInputs.shLogName">{{form.get('logName')?.value}}</p>
        <i (click)="showInputs.shLogName=!showInputs.shLogName" class="icon-pencil"></i>
      </div>

      <div class="departure-arrival">

        <div>
          <div class="departure">
            <p>Departure</p>
            <div class="from">
              <i class="icon-location"></i>
              <input type="text" placeholder="from" formControlName="from">
            </div>
          </div>

          <div class="departure-time">
            <p>Departure date and time</p>
            <div class="time-input">
              <i class="icon-clock"></i>
              <input type="text" placeholder="--/--/----|--:--" formControlName="departureTime">
            </div>
          </div>
        </div>

        <div class="duration">
          <i class="icon-clock"></i>
          <p>0 h 0 m</p>
        </div>

        <div>
          <div class="departure">
            <p>Departure</p>
            <div class="from">
              <i class="icon-location"></i>
              <input type="text" placeholder="to" formControlName="to">
            </div>
          </div>

          <div class="departure-time">
            <p>Departure date and time</p>
            <div class="time-input">
              <i class="icon-clock"></i>
              <input type="text" placeholder="--/--/----|--:--" formControlName="arrivalTime">
            </div>
          </div>
        </div>

      </div>

      <div class="driver-information" [class.driver-information-other]="showDriverNameEl">
        <h2>Driver information</h2>
        <p>Driver</p>

        <div class="flex">
          <div class="self" [class.self-disabled]="showDriverNameEl" (click)="showDriverNameEl=false">
            <i *ngIf="!showDriverNameEl" class="icon-person"></i>
            <p>Self</p>
          </div>

          <div class="other" [class.other-active]="showDriverNameEl" (click)="showDriverNameEl=true">
            <i *ngIf="showDriverNameEl" class="icon-persons"></i>
            <p>Other</p>
          </div>

          <div *ngIf="showDriverNameEl" class="driver-name" [class.driver-name-active]="showInputs.shDriverName">
            <div class="flex">
              <i class="icon-persons"></i>
              <input *ngIf="showInputs.shDriverName" type="text" formControlName="driverName">
              <p *ngIf="!showInputs.shDriverName">{{form.get('driverName')?.value}}</p>
            </div>
            <i (click)="showInputs.shDriverName=!showInputs.shDriverName" class="icon-pencil"></i>
          </div>

        </div>
      </div>

      <div class="car-information">
        <h2>Car information</h2>
        <div class="flex">

          <div>
            <p>Make & model</p>
            <div class="model">
              <i class="icon-steering-wheel"></i>
              <p>{{form.get('make')?.value}} | {{form.get('model')?.value}}</p>
            </div>
          </div>

          <div class="registration-number-div" #optionsDiv>
            <p>Registration number</p>
            <div class="registration" (click)="showRegistrationOptions=!showRegistrationOptions"
                 [class.registration-open]="showRegistrationOptions">
              <div class="flex">
                <i class="icon-gear"></i>
                <p>{{form.get('registration')?.value}}</p>
              </div>
              <i class="icon-chevron"></i>
            </div>

            <div class="options-container" *ngIf="showRegistrationOptions">
              <div *ngFor="let option of options" class="option" (click)="select(option)">
                <img *ngIf="option.imageUrl, else defaultImg" [src]="option.imageUrl" alt="car image">
                <ng-template #defaultImg>
                  <div class="default-img">
                    <i class="icon-camera"></i>
                  </div>
                </ng-template>
                <div class="info">
                  <h3>{{option.registration}}</h3>
                  <p>{{option.make}} {{option.model}}</p>
                </div>
              </div>
            </div>

          </div>


        </div>
      </div>

      <div class="button-div">
        <button class="draft" type="submit">Drafts</button>
        <button class="save" type="submit">Save to log book</button>
      </div>

    </form>
  </div>
</div>
